		body{
			margin: 0;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			overscroll-behavior: smooth;

		}

		header{
			display: flex;
			flex-direction: row;
			background-color: #D26E00;
			height: 10vh;
			padding: 8px;
			position: fixed;
			z-index: 1;
			top: 0;
			width: 100%;

		
		}

       ul{
			list-style: none;
			display: flex;
			margin: 0;
			padding: 0;
			height: 10vh;
			align-items: center;
			font-size: 18px;
			position: fixed;
			top: 0;
			width: 100%;
		}

		li {
			margin-left: 1px;
			height: 10vh;
			align-items: center;
			align-content: center;
			transition: background-color 1s;
			width: 100px;
			text-align: center;
		}

		a{
			text-decoration: none;
			color: black;
			transition: font-size 1s;
			font-size: 16px;

		}

		img {
			height: 90%;
			border-radius: 85%;
		}
		ul li:first-child {
			margin-left: 0;
			margin-right: auto;

		}

		li:hover { 
			background-color: sandybrown;
			margin-left: 0;
			
		}

		a:hover{
			font-size: 18px;
			color:white;
			font-size: 18px;


  
		}
 		table {
 			text-align: center;

 		}

 		table{
 			border-collapse: collapse;
 			width:50% ;
 			margin: auto;
 			text-align: center;
 			background-color: peru;
 			box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
 			border-radius: 10px;
 		}

 		th{
 			background-color: lemonchiffon;
 			color: black;
 			padding: 8px;
 		}

 	td{
 		padding: 10px;
 		height: 30px;
 	}

 	.birth{
 		background: linear-gradient(saddlebrown, sandybrown, saddlebrown);
 	}


 	.#skills grid img{
 		
		border: 2px solid beige; 
 		box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
 		height: 20%;
		width: 20%;
		border-radius: 0;
 	}

	
